.header-container{
  background-color: #2863FF;
}

.header {
 display: flex;
 height: 100px;
 max-width: 1200px;
 justify-content: space-between;
 align-items: center;
 margin: auto;
}

.header a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.header li{
  text-transform: uppercase;
  display: inline-block;
  padding: 5px 10px;
}

.header li a{
  text-decoration: none;
  color: #fff;
  padding-bottom: 3px;
}

.header li a:hover{
  border-bottom: 3px solid #1325AB;
}